.navbar {
    font-size: 23px;
}

.nav-link, .nav-item {
    color: white;
}



.productlistings {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* .Offer{
padding: 20px;
text-align: right;
} */

.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}

.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
    color: #E0E0E0;
    background-color: #404040;
}

.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid rgb(10, 10, 10);
    color: #ffffff;
    background-color: #808080;
}

/* 
.label-rating {
    margin-right: 10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}

.custom-search-form {
    margin-top: 5px;
} */

.homepage {
    position: relative;
    left: 21px;
}

#searchbooks {
    width: 80%;
    border-radius: 10px;
    margin: 5px;
}

/* title */

h3 {
    font-size: 50px;
}